<!-- Day 01
    For Header Need Home  register login contact once login 
user can see Then todo list and compeatil or not o can delete and change tasks -->

<!-- Day 02 - improve Navbar 
         Buile Api Use Node Express Moogess 
    -  save Form data and get form data -->

    <!-- At Tasks ->
         ->  Nav it Will be allow View all Daily Tasks Search Fieter "day weekly monstly "
         ->  Edit page "update"" Delete" -->

  <!-- DAY 3 Make Auth API allow login and logout after user login that and all to add task view  eitd         -->

  <!-- Day 4  set fornt the end , Add user Login / resgist functino and 
        protect Routers Url to tasks Views -->

<app-nav></app-nav>
<div class="container">
        <ng-flash-message></ng-flash-message>

        <router-outlet></router-outlet>
</div>

