<!-- Day 01
    For Header Need Home  register login contact once login 
user can see Then todo list and compeatil or not o can delete and change tasks -->

<!-- Day 02 - improve Navbar 
         Buile Api Use Node Express Moogess 
    -  save Form data and get form data -->

    <!-- At Tasks ->
         ->  Nav it Will be allow View all Daily Tasks Search Fieter "day weekly monstly "
         ->  Edit page "update"" Delete" -->
<app-nav></app-nav>
<section>
    <router-outlet></router-outlet>
</section>

