<div class="jumbotron text-center jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h1>Let's Increase Your Productivity </h1>
                <h3>____" 1-3-5 " RULE ____</h3>
                <p>We Only have 24 hours per a day, no more no less.
                    But so many tasks waiting for been accomplish. 
                    With 1-3-5 list means _ Frist, Only pick One Big and 
                    Important thing. <br> Second, Pick Three Medium and Less crucial things. <br> And Last, Write Five Small and much less important things. <br> At the End Unless you will have fulfilled 4 Task, See How Good and easy it is. <br> 
                    What will you waitting for, Let's Do IT ...  
                </p>
            </div>
            <div>
                <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
                <a class="btn btn-default" [routerLink]="['/login']">Login</a>
            </div>
        </div>
    </div>     
</div>

<!-- <div class="container">
        <div class="row">
          <div class="col mx-auto">
            <form  (submit)="onAddToDoSubmit()">
              <h1>Create Task List</h1>
              <div class="form-group">
                <label class="control-label">(Step 1) What's Bigest To Do</label>
                <input type="text" class="form-control" name="oneBigest" [(ngModel)]="oneBigest">
              </div>
              <div class="form-group">
                  <label>(Step 2) What's Three Medium To Do</label>
                  <input  type="text" class="form-control" name="med_1" [(ngModel)]="med_1">
                  <input type="text" class="form-control" name="med_2" [(ngModel)]="med_2">

                  <input type="text" class="form-control" name="med_3" [(ngModel)]="med_3">
              </div>
              <div class="form-group">
                  <label>(Step 3) What's Five Little ToDo (option)</label>
                  <input type="text" class="form-control" name="sml_1" [(ngModel)]="sml_1">
                  <input type="text" class="form-control" name="sml_2" [(ngModel)]="sml_2">
                  <input type="text" class="form-control" name="sml_3" [(ngModel)]="sml_3">
                  <input type="text" class="form-control" name="sml_4" [(ngModel)]="sml_4">
                  <input type="text" class="form-control" name="sml_5" [(ngModel)]="sml_5">
              </div>
            
                <button class="btn btn-primary mt-4" type="submit">Create Tasks</button> 
              </form>
            </div>
        </div> -->

